# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Model Files (Optional: If we don't want large ONNX models in Git, uncomment below)
# models/*.onnx

# Jupyter Notebook
.ipynb_checkpoints

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
pip-log.txt

# OS-specific
.DS_Store
Thumbs.db

# Project Management
TODO.md
